.navbar-home {
  padding-top: 15px;

  @include media-break-point-up(sm) {
    width: 100vw;
    height: 100vh;
  }

  @include media-breakpoint-down(md) {
    width: 100vw;
    background-color: #fff !important;
  }

  .nav-item {
    .nav-link {
      font-size: 1rem;
      @include media-breakpoint-up(lg) {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }

  .profile-picture {
    max-height: 45px;
  }

  .btn-login {
    border: 1px solid #c6af90;
    color: #c6af90;
    border-radius: 8px;
    transition: 0.5s;
    @include media-break-point-down(sm) {
      margin-bottom: 20px;
    }

    &:hover {
      text-decoration-color: #fff;
      background-color: #c6af90;
      color: #fff !important;
    }
  }

  .btn-register {
    background-color: #c6af90;
    border-radius: 8px;
    transition: 0.5s;

    &:hover {
      background-color: #cf903a;
      cursor: ne-resize;
    }
  }
  .active {
    color: #c6af90 !important;
    font-weight: 500;
  }
}
.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}
