.recent-listing-section {
  .title {
    margin-top: 80px;
    margin-bottom: 50px;
    color: #727f6c;
    font-weight: bold;
    font-size: 40px;
  }
  .card {
    border: 0;
    -webkit-box-shadow: 0px 4px 25px 0px rgba(138, 70, 50, 0.15);
    -moz-box-shadow: 0px 4px 25px 0px rgba(138, 70, 50, 0.15);
    box-shadow: 0px 4px 25px 0px rgba(138, 70, 50, 0.15);

    border-radius: 17px;
    margin-bottom: 20px;

    .card-img-top {
      border-radius: 17px 17px 0 0;
    }
    .card-body {
      padding: 15px;
      .card-title {
        font-size: 14px;
        color: #f57831;
        margin-top: 10px;
        img {
          height: 24px;
          width: 24px;
        }
      }

      .card-text {
        font-size: 20px;
        color: #6e798c;
      }

      .location {
        font-size: 12px;
        font-weight: 200;
        color: #222222;
      }

      .facility {
        margin-top: 20px;
        font-size: 11px;
        font-weight: 200;
        padding: 0 17px;
        color: #6e798c;
      }

      .range {
        color: #f57831;
        opacity: 80%;
        font-weight: bold;
        font-size: 14px;
      }

      .price {
        margin-left: 80px;
        color: #f57831;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}
